In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('data.csv',header=0)
data

      Time Weather Temperature Company Humidity    Wind Goes
0  Morning   Sunny        Warm     Yes     Mild  Strong  Yes
1  Evening   Rainy        Cold      No     Mild  Normal   No
2  Morning   Sunny    Moderate     Yes   Normal  Normal  Yes
3  Evening   Sunny        Cold     Yes     High  Strong  Yes

In [3]:
#making an array of all the attributes
d=np.array(data)[:,:-1]
print("\n The attributes are:",d)

 The attributes are: [['Morning' 'Sunny' 'Warm' 'Yes' 'Mild' 'Strong']
 ['Evening' 'Rainy' 'Cold' 'No' 'Mild' 'Normal']
 ['Morning' 'Sunny' 'Moderate' 'Yes' 'Normal' 'Normal']
 ['Evening' 'Sunny' 'Cold' 'Yes' 'High' 'Strong']]

In [4]:
#segragating the target that has positive and negative examples
target=np.array(data)[:,-1]
print('\n The target is:',target)

 The target is: ['Yes' 'No' 'Yes' 'Yes']

In [6]:
def train(c,t):
    for i,val in enumerate(t):
        if val=='Yes':
            s_h=c[i]
            break
    for i,val in enumerate(c):
        if t[i]=='Yes':
            for x in range(len(s_h)):
                if val[x]!=s_h[x]:
                    s_h[x]='?'
                else:
                    pass
    return s_h

In [7]:
#obtaining the final hypothesis
print("\n The final hypothesis is:",train(d,target))

 The final hypothesis is: ['?' 'Sunny' '?' 'Yes' '?' '?']